* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-1 {
  background-color: #ae1dff;
  padding-top: 20px;
  padding-left: 30px;
  flex: 20%;
}
.flex-item-2 {
  background-color: #ae1dff;
  padding-top: 10px;
  padding-left: 0px;
  flex: 30%;
  text-align: justify;
}
.flex-item-3 {
  background-color: #AE8DFF;
  padding-top: 20px;
  padding-left: 30px;
  flex: 20%;
}
.flex-item-4 {
  background-color: #AE8DFF;
  padding-top: 10px;
  padding-left: 0px;
  flex: 30%;
  text-align: justify;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}